<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_MEMORY" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:name=".utils.App"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MustTool"
        tools:targetApi="31">

        <activity
            android:name=".ui.activities.LanguageTranslateActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".ui.activities.UserLocation"
            android:exported="false" />
        <activity
            android:name=".ui.activities.RamUseage"
            android:exported="false" />
        <activity
            android:name=".TestActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".ui.activities.SOSFlashLightActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.AvailableSensors"
            android:exported="false" />
        <activity
            android:name=".ui.activities.BatteryInfo"
            android:exported="false" />
        <activity
            android:name=".ui.activities.CPUInfoActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.activities.DeviceInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.FlashLightActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.CalculatoreActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.CompassActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.activities.GyroScopeActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.activities.LightMeasureActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.activities.GravityActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.activities.Acceleration"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.activities.MagneticFiledActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.activities.CropeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.TextExtracter"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.activities.FullNoteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.WhatsAppActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activities.NotesApp"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activities.TemperatureConverter"
            android:exported="false"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activities.BarCodeScanner"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activities.GenQRActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.musttool.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.Design.NoActionBar" />

    </application>

</manifest>